.lab-content{
    margin-bottom: 10px;
}
.lab{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    
}
.int{
    width: 100%vw;
    padding: 2px 10px;
    border-radius: 5px;
} 
.btn-signup:hover{
    background-color: rgb(8, 235, 57);
    color: black;
    transition: 0.5s;
    
}